{% extends 'base.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}

    Proyecto que muestra c칩mo customizar las p치ginas de Error en Symfony 4.
    
    <ul>
        <li>
            <!-- 40x -->
            <a href="/pagina-no-existente">P치gina NO Existente (40x)</a>
        </li>
        <li>
            <!-- 50x -->
            <a href="{{ path('error') }}">P치gina con Error (50x)</a>
        </li>
    </ul>
    
    
{% endblock %}
